@charset "UTF-8";
:root{
    --cor0: #fff;
    --cor1:#0B132B;
    --cor2:#1C2541;
    --cor3:#3A506B;
    --cor4:#72DDF7;
    --cor5:#F9DEC9;
}
body{
    background-color: var(--cor4);
    width: 100%;
    margin: auto;
}
main{
    background-color: var(--cor3);
    max-width: 1000px;
    min-width: 450px;
    margin: auto;
    color: var(--cor0);
    padding: 20px 15px 30px 25px;
    height: 505px;
    overflow: auto;

    
}
header{ 
    width: 100%;
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 25px 0px 0px 0px;
    
    
   
}
.container{
    width: auto;
    display: flex;
    font-size: 2em;
    margin:auto;
    clear: ;
}


header > div> img{
    
    width: 15%;
    
    

}
header > div >h1{
    max-width: 45%;
    padding: 0;
    padding: 0px 0px 0px 25px ;
    margin: 0px 0px 0px 25px;
    font-size: 2.5em;
    text-align: justify;
    line-height: ;
}

.nome{
        font-family:;
    }
h2{
    color: var(--cor0);
    background-image: linear-gradient(to right,var(--cor4), #3A506B );
    padding-left: 5px;
}
a{
    width: 100px;
    height: 100px;
}



